@{
  Layout = "_Layout";
}

@using Bakery.Models

<a href='/treats' class="btn btn-lg" role="button">Treats Portal</a>
<a href='/flavors' class="btn btn-lg" role="button">Flavors Portal</a>
<a href='/account' class="btn btn-lg" role="button">Create an Account</a>
@* @Html.ActionLink("Create an account", "Index", "Account") *@
  
<h3>Treats</h3>
<div>
  @if (@Model["treats"].Count == 0)
  {
    <h3>No treats have been added yet!</h3>
  } 
  <ul>
  @foreach(Treat treat in Model["treats"])
  {
      <li>@Html.ActionLink($"{treat.TreatName}", "Details", "Treats", new { id = treat.TreatId })</li>
  }
  </ul>
</div>

<h3>Flavors</h3>
<div>
  @if (@Model["flavors"].Count == 0)
  {
    <h3>No flavors have been added yet!</h3>
  }
  <ul>
  @foreach(Flavor flavor in Model["flavors"])
  {
      <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", "Flavors", new { id = flavor.FlavorId })</li>
  }
  </ul>
</div>


