@{
  Layout = "_Layout";
}

@using Bakery.Models
@model Bakery.Models.Flavor

  @using (Html.BeginForm())
  {
    <h3>Add a New Flavor</h3>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <div class="form-row">
      @Html.LabelFor(model => model.FlavorName)
      @Html.TextBoxFor(model => model.FlavorName, new { placeholder = "Flavor Name", @class = "form-control" })
      @Html.ValidationMessageFor(model => model.FlavorName, "", new { @class = "text-danger" })
    </div>

    <div class="form-row">
      @Html.LabelFor(model => model.FlavorDescription)
      @Html.TextAreaFor(model => model.FlavorDescription, new { rows = "4", @class = "form-control" })
      @Html.ValidationMessageFor(model => model.FlavorDescription, "", new { @class = "text-danger" })
    </div>

    <input type="submit" class="btn" value="Add New Flavor" />
  }