@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor;

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)</h3>
<h3>@Html.DisplayNameFor(model => model.FlavorDescription): @Html.DisplayFor(model => model.FlavorDescription)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This flavor does not have any associated treats</p>
}
else
{
  <h4>Available in these treats:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Treat.TreatName}", "Details", "Treats", new { id = join.Treat.TreatId })</li>
    @using (Html.BeginForm("DeleteTreat", "Flavors"))
    {
      @Html.Hidden("joinId", @join.FlavorTreatId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
@* <p>@Html.ActionLink("Add a Flavor", "Edit", new { id = Model.TreatId })</p> *@
<p>@Html.ActionLink("Edit Flavor or Add Treat", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>